<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='assets/css/style.min.css')
    link(href='assets/svg/css/sprite.css' rel='stylesheet' type='text/css' media='all')
    block title
      title Destinos & Descuentos
  body
    .content
      footer.footer
        block footer
          include ../blocks/footer
      aside.aside1
        block aside
          span aside1
      main.main
        block main
          span main
      aside.aside2
        block aside
          span aside
      header.header
        block header
          include ../blocks/header
    