@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
// Fuentes
$font:  'Fira Sans', sans-serif;
$font-import:(
  thin: 100,
  thin-i: 100i,
  extra-light: 200,
  extra-light-i :200i,
  light: 300,
  light-i: 300i,
  texto: 400,
  texto-i: 400i,
  subtitulos: 500,
  subtitulos-i: 500i,
  semi-bold: 600,
  semi-bold-i: 600i,
  titulo: 700,
  titulo-i: 700i,
  extra-bold: 800,
  extra-boldi: 800,
  f-black:900,
  f-black-i: 900i
);
//convertir px a em
@function em( $el, $parent: 16px ){
  @return($el / $parent) * 1em
}
$font-size: em(14px);
$h1-size: $font-size * 1.75;
$h2-size: $font-size * 1.75;
$h3-size: $font-size * 1.75;

// http://paletton.com/#uid=73s250kzoQ4VK9w++lt1M-R0BOG
$color-primary: (
  color-primary-0: #0A99DF,	// Main Primary color */
  color-primary-1: #002030,
  color-primary-2: #00496C,
  color-primary-3: #A6ADB0,
  color-primary-4: #D7DADB,
);
$color-secondary-1: (
  color-secondary-1-0: #FA0027,	// Main Secondary color (1) */
  color-secondary-1-1: #48000B,
  color-secondary-1-2: #A2001A,
  color-secondary-1-3: #F3E6E8,
  color-secondary-1-4: #FAF5F6,
);
$color-secondary-2: (
  color-secondary-2-0: #42F200,	// Main Secondary color (2) */
  color-secondary-2-1: #114100,
  color-secondary-2-2: #279200,
  color-secondary-2-3: #D6DFD3,
  color-secondary-2-4: #EDF1EC,
);
$color-complement: (
  color-complement-0: #FF8900,	// Main Complement color */
  color-complement-1: #4C2900,
  color-complement-2: #AB5C00,
  color-complement-3: #FFF8F1,
  color-complement-4: #FFFDFA,
);








