@import "../config.scss";
* {
  list-style-type: none;
}
body{
  font-size: $font-size;
  line-height: 1.5;
  background:  map-get($color-secondary-1, "color-secondary-1-3");
}
h1{
  font-size: $h1-size;
}
h2{
  font-size: $h2-size;
}
h3{
  font-size: $h1-size;
}
h1, h2, h3{
  line-height: 1.3;
}