//- article
  h1 TITLE
  div(class='right')
    span @Todos los derechos reservados
  ul(class='menu-social') 
    li(class='item-social') facebook
      span(class='icon facebook img-social')
    li(class='item-social') soci
      span(class='icon lk img-social')
    li(class='item-social') twiter
      span(class='icon twitter img-social')
//
span footer